*{
    font-family: 'Inter', sans-serif;
}
body{
    display: grid;
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: white;
    background: #000;
}
.nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-template-rows: auto;
    align-items: center;
    padding: 1rem 6rem;
}
.brand-help{
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-column-gap: .4rem;
}
.brand, .buttons{
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
}
.logo{
    font-size: 2.5rem;
}
.name{
    font-size: x-large;
    margin-bottom: 4px;
}
.separator{
    margin-bottom: 4px;
    font-size: x-large;
}
.help{
    font-size: larger;
}
.submit{
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 1rem;
}
.signin{
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 6px;
    background: blue;
}
.hero{
    background-color: #DADBF1;
    height: 55vh ;
    display: grid;
    width: 100%;

}
.hero-title{
    font-size: 4.4rem;
    font-stretch: ultra-condensed;
    font-weight: 450;
    width: 100%;
    align-self: last baseline;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}
.hero-search{
    display: grid;
}
.cover{
    width: 45vw;
    margin-inline: auto;
    display: grid;
}
.hero-search input{
    border-radius: 6px;
    padding: .5rem 1rem;
    max-height: 4rem;
    grid-area: 1/1/4/6;
    margin-bottom: 2.5rem;
    border: 1px solid;
}
.hero-search input::placeholder{
    font-size: 1.2rem;
}
.hero-search input:hover{
    border: 1px solid rgb(78, 78, 213);   
}
.hero-search:hover i{
    color: rgb(78, 78, 213);
}
.hero-search i{
    padding-top: 0.1rem;
    padding-right: 1rem;
    font-size: xx-large;
    justify-self: flex-end;
    align-self: center;
    grid-area: 1/4/1/6;
}
.services{
    width: 85vw;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 10.5rem;
    
}
.service{
    max-width: 35vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;
}
.service-img{
    width: 5.5rem;
    height: auto;
    justify-self: center;
}
.service-content{
    justify-self: flex-start;
    display: grid;
    grid-template-columns: auto;
}
.service-title{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1rem;
}
.service-text{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    justify-self: flex-start;

}
.service-link{
    font-size: larger;
    color: rgb(78, 78, 213);
    margin-bottom: 2rem;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: auto auto;
}
.service-link span{
    margin-left: .3rem;
    line-height: 1rem;
}

footer{
    background: #000;
    color: white;
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw auto;
    padding: 4rem 4rem 3rem 9rem  ;
}
.footer-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.footer-column-title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: x-large;
    margin-bottom: 1.5rem;
}
.footer-column-subtitle{
    font-weight: 700;
    text-transform: capitalize;
    font-size: medium;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}
.footer-item{
    text-transform: capitalize;
    font-size: large;
    margin-bottom: .1rem;
}
.footer-item:hover{
    text-decoration: underline;
}
.footer-column:nth-child(5){
    padding-top: 10rem;
    margin-left: 2rem;
}
.footer-logo i{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.end-text{
    display: grid;
}
.end-text > *{
    margin: .1rem 0;
    font-size: larger;
    margin-left: 5px;
}
.floating{
    background: #4C5FD5;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 40px;
    width: 6vw;
    height: 4vh;
    padding: .5rem .3rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
}
.floating i{
    margin-right: 5px;
}